.nav-link:hover{
    color: blue !important;
    border-top: solid 1px;
    border-color: rgb(208, 121, 243);
}
.navbar-nav a{
    transition: all 0.5 ease;
}
.navbar-nav{
    margin-bottom: 20px;
}
.navbar-nav a:hover{
    background: palegoldenrod;
    padding: none;
    margin: none;
}
.dropdown-item{
    border-bottom: black 1px solid;
}
.iframe{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}
.iframe>*{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.buttonm{
    text-align: center;
    padding: 50px;
    transition: all 0.5 ease;
}
